<h1>Lista de Horarios</h1>

<table border="1">
    <thead>
        <tr>
            <th>Materia</th>
            <th>Dia</th>
            <th>Hora de inicio</th>
            <th>Hora fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for horario in horarios %}
        <tr>
            <td>{{ horario.materia }}</td>
            <td>{{ horario.dia_semana }}</td>
            <td>{{ horario.hora_inicio }}</td>
            <td>{{ horario.hora_fin }}</td>
            <td>
                <a href="{% url 'eliminar_horario' horario.pk %}">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'registrar_horario' %}">Registrar nuevo horario</a>